html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: end;
}

canvas {
  display: block;
}
